.input {
  border-radius: 5px;
  min-width: 300px;
  padding: 10px;
  margin-bottom: 15px;

}

.wrapper {
  min-width: 450px;
  display: flex;
  flex-direction: row-reverse;
}

.label {
 white-space: nowrap;
  padding: 5px;
}