.button {
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 20px;
  margin: 5px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  font-size: 18px;
  &:hover {
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #42ff6a,
    0 0 35px #42ff6a
  }
}