body {
  background-color: #221f1f;
  color: #fff;
}

.sorting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  margin-bottom: 25px;
}

.moviePreviewContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 50%;
}

.movies {
  display: flex;
}