body {
  background-color: #221f1f;
  color: #fff;
}

.sorting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button_container {
  margin-bottom: 25px;
}

.movie_preview_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.movies {
  display: flex;
}