.search_bar{
  width: 300px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.img {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 5px;
}